<h2>Edit Information</h2>
<%= form_with model: @vol do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>
    <%= f.submit "Edit User"%>
<%end%>
<%= button_to "Delete Account",@vol,method: :delete, :class=>"btn btn-outline-success"%>

<%if flash[:errors]%>
    <%flash[:errors].each do |e|%>
        <%=e%>
    <%end%>
<%end%>
<%=button_to "Back to Volunteer Page", @vol, method: :get, :class=>"btn btn-outline-success"%>