<h1 style="padding-top:20px">Trip Info</h1>
Distance: <%=@trip.distance(@viewer)%> mi<br>
Foodbank: <%=@trip.food_bank.name%><br>
Grocery Store: <%=@trip.grocery_store.name%><br>
<div  style="padding-top:20px">
    Food Items:
    <div style="width:300px">
        <ul class="list-group list-group-flush">
            <%@trip.food_items.each do |i|%>
                    <li class="list-group-item" style="background-color:#cbdeca"><%=i.name%></li>
            <% end %>
        </ul>
    </div>
</div>
<%if @trip.volunteer_id == @manager.id%>
    <div style="padding-top:20px">
        <%=button_to "Sign up for trip",@trip,method: :patch, :class=>"btn btn-outline-success"%>
    </div>
<%else%>
    <div style="padding-top:20px">
        <%=button_to "Complete trip", { :controller => "trips", :action => "complete"},:params => {:trip_id => @trip.id}, :method => :patch, :class=>"btn btn-outline-success"%>
    </div>
    <div style="padding-top:20px">
        <%=button_to "Remove trip", @trip,method: :patch, :class=>"btn btn-outline-success"%>
    </div>
<%end%>
<div style="padding-top:20px">
    <%=button_to "Back to Volunteer Page", @viewer, method: :get, :class=>"btn btn-outline-success"%>
</div>