<h1>Trip Info</h1>
Distance: <%=@trip.distance%> mi<br>
Foodbank: <%=@trip.food_bank.name%><br>
Grocery Store: <%=@trip.grocery_store.name%><br>
Food Items:
<ul>
    <%@trip.food_items.each do |i|%>
            <li><%=i.name%></li>
    <% end %>
</ul>
<%if @trip.volunteer_id == @manager.id%>
    <%=button_to "Sign up for trip.",@trip,method: :patch%>
<%else%>
    <%=button_to "Remove trip.",@trip,method: :patch%>
<%end%>