<h1 style="padding-top:20px"><%= @food_bank.name%>'s Page</h1>
<div class="containers">
    <div class="row">
        <div class="col-sm">
            <h3 style="padding-top:20px">Inventory</h3>
            <div style="width:300px;">
                <ul class="list-group list-group-flush">
                    <% @food_bank.food_items.each do |f| %>
                        <li class="list-group-item" style="background-color:#cbdeca"><%= f.name %></li>
                    <%end%>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <h3 style="padding-top:20px">Create a Trip</h3>
            <h3 style="padding-top:20px">Select a Grocery Store to see inventory</h3>
            <%=form_with url: "/food_banks/data", method: :get, local: true do |f|%>
                <%=f.collection_select :grocery_store_id, @grocery_stores, :id, :name%>
                <%=f.submit "Select", :class=>"btn btn-outline-success"%>
            <%end%>
            <%if cookies[:grocery_store]%>
                <h4 style="padding-top:20px"><%=@grocery_store.name%> Inventory:</h4>
                <%=form_with model: @trip do |f|%>
                    <% if @food_items.length > 0%>
                        <label class="checkbox inline">
                            <%=f.collection_check_boxes :food_items, @food_items, :id, :name, include_hidden: false, item_wrapper_tag: :div%>
                        </label><br>
                        <%=f.submit "Create Trip", :class=>"btn btn-outline-success"%>
                    <%end%>
                <%end%>
            <%end%>
        </div>
    </div>
</div>