<h1><%= @food_bank.name%>'s Page</h1>
<h3>Create a Trip</h3>
<%=form_with url: "/food_banks/data", method: :get, local: true do |f|%>
    <%=f.collection_select :grocery_store_id, @grocery_stores, :id, :name%>
    <%=f.submit "Select"%>
<%end%>

<%if cookies[:grocery_store]%>
    <%=form_with model: @trip do |f|%>
        <%=f.label :food_items%>
        <%=f.collection_check_boxes :food_items, @food_items, :id, :name, include_hidden: false%>
        <%=f.submit "Select Items"%>
    <%end%>
<%end%>