<div class="text-center">
<h1 style="padding-top: 20px; font-size:70px">Welcome!</h1>
    <p style="padding-top: 20px; font-size:25px">Did you know that 30-40% of food is wasted each year in America? Our mission at Food Connect is to link Grocery Stores, Foobanks, and volunteer drivers in an effort to reduce this egregious food waste. As a Food Bank you can browse grocery store inventory and create trips to be added to the queue for volunteers to pick up. As a Volunteer you can select these trips based on their total distance. Thanks for visiting! </p>
</div>

<%=image_tag("foodbank.jpeg", class: "rounded mx-auto d-block", :style=>"padding-top: 20px; width:500px")%>

<div class="text-center" style="margin-top: 40px;">
    <h2>Factoids</h2>
    <%if Volunteer.all.length > 1 %>
        <p style="font-size:25px">Volunteer of the month: <%= @active.name%> with <%= @active.past_trips.length%> trip(s)</p>
    <%end%>
        <p style="font-size:25px">Food Bank most in need of volunteers: <%= @food_bank_min.name%> (only has <%= @food_bank_min.food_items.length%> food items)</p>
    <%if GroceryStore.best_store != nil%>
        <p style="font-size:25px">Most active Grocery Store: <%= @best_store.name%> with <%= @best_store.past_trips.length%> trip(s) completed</p>
    <%end%>
</div>