<!DOCTYPE html>
<html>
  <head>
    <title>DD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1><%=link_to "Food Connect", root_path%></h1>
      <%if session[:username] %>
          <h4>Hi, <%=@vol.name%></h4>
          <%=button_to "Logout", logout_path, method: :delete%>
      <%else%>
          <%= link_to "Login Page", login_path, method: :get%>
          <%= link_to "Register Page", new_volunteer_path, method: :get%>
      <%end%>

    <%= yield %>
  </body>
</html>
