<!DOCTYPE html>
<html>
  <head>
    <title>DD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1><%=link_to "Food Connect", root_path%></h1>
      <%if session[:username] %>
          <h4>Welcome, <%=link_to @user.name, @user%></h4>
          <%=button_to "Logout", logout_path, method: :delete%>
      <%else%>
          <%= link_to "Login Page", login_path, method: :get%>
          <%= link_to "Volunteer Register", new_volunteer_path, method: :get%>
      <%end%>

    <%= yield %>

    <%if !session[:username] %>
      <%= link_to "Food Bank Register", new_food_bank_path, method: :get%>
    <%end%>
  </body>
</html>
